Repository steynovich/loca2-hass: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, manifest-validation, strings-validation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.11

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        args: [--ignore-missing-imports]

  - repo: local
    hooks:
      - id: manifest-validation
        name: Validate manifest.json
        entry: uv run python
        language: system
        args:
          - -c
          - |
            import json
            with open('custom_components/loca2/manifest.json') as f:
                manifest = json.load(f)
            required = ['domain', 'name', 'version', 'documentation', 'issue_tracker', 'codeowners', 'requirements', 'iot_class', 'config_flow']
            for field in required:
                assert field in manifest, f'Missing field: {field}'
            print('✅ Manifest validation passed')
        files: ^custom_components/loca2/manifest\.json$

      - id: strings-validation
        name: Validate strings.json
        entry: uv run python
        language: system
        args:
          - -c
          - |
            import json
            with open('custom_components/loca2/strings.json') as f:
                strings = json.load(f)
            assert 'config' in strings, 'Missing config section'
            assert 'step' in strings['config'], 'Missing config.step section'
            assert 'user' in strings['config']['step'], 'Missing config.step.user section'
            print('✅ Strings validation passed')
        files: ^custom_components/loca2/strings\.json$

docs: add initial commit summary
  INITIAL_COMMIT_SUMMARY.md
Due: none

Update GitHub repository URLs to steynovich/loca2-hass
  .kiro/specs/loca2-home-assistant-integration/design.md
  GITHUB_ACTIONS.md
  README.md
  custom_components/loca2/manifest.json
  pyproject.toml
Due: manifest-validation

fix: resolve GitHub Actions workflow failures
  .github/workflows/code-quality.yml
  .github/workflows/hassfest.yml
  custom_components/loca2/__init__.py
  custom_components/loca2/_version.py
  custom_components/loca2/api.py
  custom_components/loca2/config_flow.py
  custom_components/loca2/const.py
  custom_components/loca2/device_tracker.py
  custom_components/loca2/logging_utils.py
  pyproject.toml
  tests/conftest.py
  tests/test_api.py
  tests/test_comprehensive_validation.py
  tests/test_config_flow.py
  tests/test_coordinator.py
  tests/test_device_tracker.py
  tests/test_error_handling.py
  tests/test_final_validation.py
  tests/test_hacs_validation.py
  tests/test_init.py
  tests/test_integration.py
Due: mypy

fix: resolve GitHub Actions uv virtual environment issues
  .github/workflows/code-quality.yml
  .github/workflows/hassfest.yml
Due: none

fix: exclude auto-generated _version.py from ruff linting
  pyproject.toml
Due: none

Fix GitHub Actions issues: pydocstyle blank line and safety command syntax
  .github/workflows/code-quality.yml
  custom_components/loca2/__init__.py
Due: mypy

Fix complexity thresholds in code quality workflow
  .github/workflows/code-quality.yml
Due: none

Fix xenon complexity threshold to allow rank D functions
  .github/workflows/code-quality.yml
Due: none

Fix Black formatting in auto-generated _version.py
  custom_components/loca2/_version.py
Due: mypy

Add HACS manifest file (hacs.json)
  hacs.json
Due: none

Update hacs.json configuration
  hacs.json
Due: none

Add automated repository setup for HACS compliance
  .github/workflows/hacs.yml
  .github/workflows/repository-setup.yml
Due: none

fix: resolve GitHub Actions workflow issues and standardize UV usage
  .github/workflows/code-quality.yml
  .github/workflows/hassfest.yml
  .github/workflows/release.yml
  hacs.json
  pyproject.toml
Due: none

fix: resolve additional GitHub Actions issues for job ID 16441667284
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  custom_components/loca2/_version.py
  pyproject.toml
  pytest.ini
Due: mypy

fix: resolve API test data structure issues for GitHub Actions job 16441805075
  custom_components/loca2/api.py
  tests/test_api.py
Due: mypy

fix: resolve Black formatting issues
  custom_components/loca2/api.py
  tests/test_api.py
Due: mypy

fix: improve async validation with better error reporting for GitHub Actions
  .github/workflows/hassfest.yml
Due: none

fix: correct manifest.json key ordering for GitHub Actions run 16442573277
  custom_components/loca2/manifest.json
Due: manifest-validation

fix: resolve GitHub Actions issues from runs 16442760031 and 16442760043
  .github/workflows/hassfest.yml
  .github/workflows/release.yml
  hacs.json
Due: none
